* {
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
  box-sizing: border-box;
  /* overflow: hidden; */
}
body {
  background-color: #a8edd9a6;
  width: 100vw;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(94, 94, 94);
}
.header {
  min-width: 360px;
  max-width: 1080px;
  width: 80%;
  height: 6rem;
  margin: auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: cornflowerblue;
  box-shadow: 0 2px 5px 0px #666666cc;
}
.btn{
  background: transparent;
  display: flex;
  border: none;
}
.logo {
  display: flex;
  flex-direction: column;
  padding: 5px;
  justify-content: center;
  align-items: center;
}
.logo > img {
  height: 3rem;
  /* border: 1px solid red; */
}
.logo > span {
  display: block;
  text-align: center;
  /* border: 1px solid red; */
  margin-top: -10px;
  color: purple;
  font-family: cursive;
}
a {
  text-decoration: none;
}
.nav-bar {
  min-width: 50%;
  display: flex;
}
.nav-bar > div {
  display: none;
}
.nav-bar > ul {
  width: 80%;
  font-size: 1.25rem;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}
.nav-bar li a :active {
  text-decoration: none;
}
.nav-bar li {
  list-style: none;
}

.search {
  margin-right: 10px;
}
.search > input {
  height: 2rem;
  box-shadow: 0px 0px 2px 2px #6666;
  border: none;
}
.search > button {
  background-color: transparent;
  color: rgba(200, 200, 255, 0.637);
  font-size: 1.25rem;
  border: none;
}
.search > input:active,
.search > input:focus,
.search > input:hover {
  outline: none;
}
.show {
  display: block;
}
.hide {
  display: none;
}

@media screen and (max-width: 1000px) {
  .nav-bar {
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  .nav-bar > ul {
    display: none;
    width: 100px;
    overflow: hidden;
    background-color: cornflowerblue;
    flex-direction: column;
    position: fixed;
    top: 6rem;
    /* padding-bottom: 20px; */
  }
  .nav-bar > ul > li {
    width: 100%;
    font-size: 0.95rem;
    display: flex;
    /* padding-top: 20px; */
    border-bottom: 1px solid;
  }
  .nav-bar > ul > li > a {
    padding: 5px;
    margin: auto;
  }
  .nav-bar > #menu-btn {
    margin: auto;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    align-items: center;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.514);
    border-radius: 50%;
  }
  .nav-bar > #menu-btn > div {
    display: block;
    position: absolute;
    width: 15px;
    height: 3px;
    background-color: rgba(245, 245, 245, 0.425);
  }
  .nav-bar > #menu-btn > div::before,
  .nav-bar > #menu-btn > div::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    background-color: inherit;
  }
  .nav-bar > #menu-btn > div::before {
    top: -4px;
  }
  .nav-bar > #menu-btn > div::after {
    top: 4px;
  }
}
