* {
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
  box-sizing: border-box;
  /* overflow: hidden; */
}
body {
  background-color: #a8edd9a6;
  width: 100vw;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(94, 94, 94);
}
.header {
  min-width: 360px;
  max-width: 1080px;
  width: 80%;
  height: 6rem;
  margin: auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: cornflowerblue;
  z-index: 10;
  box-shadow: 0 2px 5px 0px #666666cc;
}
.btn {
  background: transparent;
  display: flex;
  border: none;
}
.logo {
  display: flex;
  flex-direction: column;
  padding: 5px;
  justify-content: center;
  align-items: center;
}
.logo > img {
  height: 3rem;
  /* border: 1px solid red; */
}
.logo > span {
  display: block;
  text-align: center;
  /* border: 1px solid red; */
  margin-top: -10px;
  color: purple;
  font-family: cursive;
}
a {
  text-decoration: none;
}
.nav-bar {
  min-width: 50%;
  display: flex;
  z-index: inherit;
}
.nav-bar > div {
  display: none;
}
.nav-bar > ul {
  width: 80%;
  font-size: 1.25rem;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}
.nav-bar li a :active {
  text-decoration: none;
}
.nav-bar li {
  list-style: none;
}

.search {
  margin-right: 10px;
  width: 120px;
  max-width: 30%;
}
.search > input {
  height: 1.75rem;
  box-shadow: 0px 0px 2px 2px #6666;
  border: none;
  width: 100%;
  border-radius: 6px;
}
.search > button {
  background-color: #747474;
  padding: 0.5rem 0.75rem;
  border-radius: 10px;
  color: white;
  font-size: 1rem;
  border: none;
}
.search > input:active,
.search > input:focus,
.search > input:hover {
  outline: none;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.container {
  min-width: 360px;
  max-width: 1080px;
  width: 80%;
  margin: 0 auto;
  /* border: 10px solid red; */
  box-shadow: 0 0 5px 0 #666666cc;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.hero {
  width: 100%;
  z-index: 1;
  /* border: 1px solid red; */
  background-image: url(./images/food-1.jpg);
  background-size: cover;
  height: 400px;
  margin-bottom: 30px;
  filter: blur(2px);
  background-position: center center;
}
.hero::after{
  content: '';
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #0008;
}
.card-list {
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;

}
.topic-cards {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
  justify-content: space-between;
  box-shadow: 0 0 5px 0 #666666cc;
  margin: 10px 0;
}
.topic-cards:hover{
  position: relative;
  width: 310px;
  border-radius: 15px;
  background-position: center center;
  transition: .6s;
}
#tech{
  background-image: url(./images/card-tech.jpg);
  background-size: cover;
}
#fitness{
  background-image: url(./images/card-fitness.jpg);
  background-size: cover;
}
#food{
  background-image: url(./images/card-food.jpg);
  background-size: cover;
}
#travel{
  background-image: url(./images/card-travel.jpg);
  background-size: cover;
}
.topic-cards>.topic-name{
  font-size: 1.5;
  background-color: rgba(255, 255, 255, 0.788);
  padding: .25rem .5rem;
  color: rgb(92, 80, 255);
}
.topic-cards>.text{
  padding: .25rem .5rem;
  font-size: 1.125rem;
  background-color: rgba(255, 255, 255, 0.63);
  color: #202a42;
}

.footer {
  min-width: 360px;
  max-width: 1080px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 350px;
  box-shadow: 0 0 5px 0 #666666cc;
  background-color: #202a42;
}
.footer > div  li{
  list-style: none;
}
.footer > div{
  width: 30%;
  height: 50%;
  color: rgb(228, 226, 211);
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .nav-bar {
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  #input-search {
    width: 100px;
  }
  .nav-bar > ul {
    display: none;
    width: 100px;
    overflow: hidden;
    background-color: cornflowerblue;
    flex-direction: column;
    position: fixed;
    top: 6rem;
    box-shadow: 0 2px 5px 0px #666666cc;
    /* padding-bottom: 20px; */
  }
  .nav-bar > ul > li {
    width: 100%;
    font-size: 0.95rem;
    display: flex;
    /* padding-top: 20px; */
  }
  .nav-bar > ul > li > a {
    padding: 5px;
    margin: auto;
  }
  .nav-bar > #menu-btn {
    margin: auto;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    align-items: center;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.514);
    border-radius: 50%;
  }
  .nav-bar > #menu-btn > div {
    display: block;
    position: absolute;
    width: 15px;
    height: 3px;
    background-color: rgba(245, 245, 245, 0.425);
  }
  .nav-bar > #menu-btn > div::before,
  .nav-bar > #menu-btn > div::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    background-color: inherit;
  }
  .nav-bar > #menu-btn > div::before {
    top: -4px;
  }
  .nav-bar > #menu-btn > div::after {
    top: 4px;
  }
  ul.show {
    display: flex;
  }
  ul.hide {
    display: none;
  }
  .footer{
    flex-direction: column;
  }
  .footer > div{
    margin: auto;
  }
}
